/* Pallete - https://coolors.co/palette/f9dc5c-fae588-fcefb4-fdf8e1-f9dc5c */
/* General Styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px 'lato';
  color: #363537;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #4a4a4a;
}

a:hover {
  opacity: 0.75;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

/* Paint Seperator in Header*/
.seperator {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  direction: ltr;
  height: 40px;
  z-index: 1;
}

.invert {
  transform: rotate(180deg);
}

.fill-white {
  fill: #ffffff;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

/* Button Styles */

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-secondary {
  margin: 5px;
  display: inline-block;
  color: #080708;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700;
  text-align: center;
  border: 3px solid transparent;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  transition: all 0.15s ease;
  will-change: transform;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 1;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transform: translateY(-2px);
}

.btn-outline {
  margin: 5px;
  display: inline-block;
  color: #080708;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700;
  text-align: center;
  border: 3px solid transparent;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  transition: all 0.15s ease;
  will-change: transform;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.btn-outline:hover {
  opacity: 1;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transform: translateY(-2px);
}

/* header styles */

header {
  position: absolute;
  width: 100%;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 2;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header nav {
  display: flex;
  margin-right: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .menu li {
  margin: 0 15px;
}

@media (max-width: 800px) {
  header {
    padding: 20px 0px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/* Hero Styles */

.hero {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 800px;
  color: #4a4a4a;
  z-index: 1;
}

.hero .opacity {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #f9dc5c;
  opacity: 60%;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.hero h1 {
  font: bold 60px 'lato', sans-serif;
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 900;
  line-height: 1.2;
}

.hero h3 {
  /* font: normal 28px 'Open Sans', sans-serif; */
  margin-bottom: 40px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
  max-width: 800px;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h3 {
    font-size: 24px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }
}

/* Service Types & Widgets */

main {
  padding: 120px 0;
  position: relative;
  display: block;
  z-index: 2;
}

main .servicetypes {
  padding-right: 60px;
  padding-left: 60px;
  max-width: 1520px;
  margin-top: -280px;
  margin-bottom: 100px;
}

.servicetypes .grid {
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 60px;
  padding-left: 60px;
  max-width: 1520px;
  margin-bottom: 20px;
}
.grid .widget {
  display: flex;
  flex-basis: 33.333%;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  margin: 0 20px;
  padding: 30px 40px 30px 40px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
  align-content: center;
  background-color: #ffffff;
}

.grid .widget img {
  width: 86px;
  height: 86px;
}

.grid .widget .title {
  font-size: 28px;
  font-family: 'lato';
  font-weight: 600;
  line-height: 1.5;
  color: #080708;
  margin-bottom: 0;
}

.grid .widget p.description {
  font-weight: 400;
  line-height: 1.8;
  color: #363537;
  font-size: 18px;
}

.seperator-top {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.seperator-top svg {
  width: calc(100% + 1.3px);
  height: 60px;
}

/* About */
.about {
  padding: 0;
  background-color: #f5f5f5;
  text-align: center;
}

.about .container {
  padding-top: 120px;
  width: 80%;
  display: flex;
  align-items: flex-end;
}

.about .container .about-img {
  margin-bottom: -5px;
  align-self: flex-end;
}
.about .about-img img {
  border-radius: 10px 10px 0 0;
}

.about .container .about-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: space-around;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
  margin: 120px 0px -60px -120px;
  padding: 80px 60px 70px 60px;
  border-radius: 10px 10px 10px 10px;
}

.about .container .about-widget p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.about .container .about-widget h1 {
  padding: 0;
  margin: 0;
}

.about .container .about-widget a {
  margin: 0;
}
